body {
    background-image: url(images/Default_broken_heart_with_hope_3.jpg);
    background-size: cover;
    background-position: center;
    color: black;
    margin-left: 20;
    margin-right: 20;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.container {
    background-color: rgba(255, 255, 255, 0.80);
    border: #fefbacd6 2px solid;
    padding-right: 3em;
    padding-left: 3em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 1px;
}

#nav {
    margin: 0 0 15px 0px;
    background: linear-gradient(to bottom right, rgb(252, 220, 42), 65%, rgb(247, 246, 187));
    border: rgb(125, 10, 10) 2px solid;
    padding-top: 1em;
    padding-bottom: 8px;
    border-radius: 10px;
    text-align: center;
}

a.title {
    color: rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

li.title {
    display: inline;
    padding: 4.6%;
}

.img1 {
    width: 8em;
    border-radius: 43px;
    margin-left: 28px;
    margin-right: 70px;
    display: inline;
}

.video {
    width: 40%;
    border-radius: 3%;
    border: rgb(135, 169, 34) 2px solid;
}

.a3:hover {
    color: black;
}

.div2 {
    display: flex;
    justify-content: center;
    align-items: center;
}